# Terraform
**/.terraform
**/.terraform.lock.hcl
**/*.tfvars
**/*.tfstate
**/*.tfstate.backup
**/*.tfplan

# Secrets
.config

# Talos generated configs (contain secrets in plain text)
talos/*/clusterconfig/
