VPN_SERVICE_PROVIDER=<wireguard|openvpn>
WIREGUARD_PRIVATE_KEY=<REPLACE>
WIREGUARD_ADDRESSES=10.13.13.2/32
WIREGUARD_PUBLIC_KEY=<REPLACE>
WIREGUARD_ENDPOINT_IP=<REPLACE>
WIREGUARD_ENDPOINT_PORT=<REPLACE>
OPENVPN_USER=<REPLACE>
OPENVPN_PASSWORD=<REPLACE>
OPENVPN_CUSTOM_CONFIG=<OPTIONAL>
TZ=Europe/Paris
FIREWALL=on
VPN_PORT_FORWARDING=on
HTTPPROXY=off
DOT=on
UPNP=off
